<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">

		<title>Tengo</title>

		<link href="/css/tengo.css" rel='stylesheet' type='text/css'>

	</head>
	<body>
		
		<header>

			<h1><a href="/#!/"><span>Tengo</span></a></h1>
			
			<ul id="headerOptions" class="right">
				<li class="headerOption"><a href="">Create Account</a></li>
				<li class="headerOption"><a href="">Login</a></li>
				<li class="headerOption"><a href="">Settings</a></li>
			</ul>
			
			<nav> 
				<a href="/tengo/home" class="active">I Own</a>
				<a href="/tengo/goods">Goods</a>
				<a href="/tengo/reports">Reports</a>
			</nav>
					
		</header>

		<footer>

			<h1><a href="/#!/"><span>ubikee</span></a></h1>
			
			<ul id="footerOptions" class="right">
				<li class="footerOption"><a href="">xxx</a></li>
			</ul>
			
			<nav> 
				<a href="/tengo/home" class="active">xxx</a>

			</nav>
					
		</footer>		

	</body>
</html>
